.parrent{
    background-color:#375ed4;
    min-width: 250px;
}
.parmar{
    margin-left: 10px;
    margin-right: 10px;
}
.a{
    min-width: 1340px;
}
.sb{
    color: aliceblue;
}
/* .avatar{
    width: 193px;
} */
.parrent1{
    width: 0 auto;
   display: flex; 
   height: 50px;
}
/* .navbar{
    display: flex;

} */
.search{
    margin-left: 4px;
    min-width: 1100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
hr{
    margin-right: 1px;
    margin-left: 1px;
}
.aa{
    background-color: azure;
}
.notification{
    display: flex;
}
.boardcontent{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.containerlist{
    display: flex;
    justify-content: space-between;
}
.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.admin{
    height:70px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.colorbox{
    min-width: 600px;
    display: grid;
    grid-template-columns:repeat(2,1fr);
    /* gap: 50px; */
}
.box{
    background-color:#4e73df ;
}

.mainchart{
    display: flex;
    justify-content: space-between;
}

/* .chart,.col{
    width: 600px;
} */
.maincontainers{
    display: flex;
}
.dashboard{
    background-color: #f3f3f3;
    margin-left: 10px;
    margin-right: 5px;
    
}
.App{
    display: flex;
    width: 1340px;
    background-color: #f3f3f3;
}
.mainvr{
    display: flex;
}
/* student */
.student_list{ 
    text-align: center;
    /* border-color: transparent; */
    border-radius: 3px;
    width: 900px;
    background-color: rgb(255, 255, 255);
    margin-top: 10px;
    margin-right: 10%;
    /* margin-left: 10px; */
    /* margin-left: 10%; */
    margin-bottom: 20px;
    /* margin: 10px 10px 10px 10px; */
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
}
.student_info{
    text-align: left;
    margin-left: 10px;
    width: 550px;
    display: flex;
    justify-content:space-between;
    /* gap: 150px; */
}
/* .student_item{
    text-align:center;
    width: 200px;
} */

.student_list1{
    margin-left: 30px;
    width: 900px;
    margin-bottom: 20px;
    /* margin: 10px 10px 10px 10px; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}
.student_info1{
    width: 650px;
    display: flex;
    justify-content: space-between;
}
.main_st_container h1{
    margin-left: 35%;
}
/* teacher */
.teacher_list{
    /* height: 150px; */
    background-color: rgb(255, 255, 255);
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    border-radius: 10px;
    /* gap: 30px; */
    /* width: 600px;
    display: grid;
    grid-template-areas: inherit; */
}
.teacher_name{
    padding-top: 10px;
    margin-left: 10px;
    /* margin-top: 20px; */
}
.teacher_sub{
    display: flex;
    justify-content: space-around;
}
.lab{
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    gap: 70px;
}
.mainte{
    margin-left: 15%;
}
.teacher_list1{
    margin-left: 30%;
}
h1{
    margin-left: 25%;
}